:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(255 255 255 / 87%);
  text-size-adjust: 100%;

  color-scheme: light dark;
  background-color: #242424;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-synthesis: none;
}

body {
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
}

#app {
  height: 100%;
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }
}
